<h1 class="text-center">Skills for Days</h1>

<div class="text-center">

  <div class="col-md-6 col-offset-3">
    <img src="https://images.unsplash.com/photo-1428954376791-d9ae785dfb2d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=666c7de81e8592f10ad13d4c687a336d" alt="sunset jump" width="500" />
    <h3>
      <a href="/skills">
        <button type="button" name="button">Check out my Skills</button>
      </a>
    </h3>
  </div>

  <div class="col-md-6 col-offset-3">
    <img src="https://images.unsplash.com/photo-1414490929659-9a12b7e31907?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=bf8bbe0d84800544b86317dd7469c8c7" width="445" alt="girl swimming" />
    <h3>
      <a href="/skills/new">
        <button type="button" name="button">Add New Skill</button>
      </a>
    </h3>
  </div>





</div>
