<form action="/skills/<%= @skill.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <h1>Update my skill!</h1>
    <h2>Skill:</h2>

  <input type='text' name='skill[title]'value="<%= @skill.title %>"/>
    <h2>Description:</h2>
  <textarea name='skill[status]' rows="20" columns="40"><%= @skill.status %></textarea><br>
  <input class="btn btn-primary" type="submit" value="Submit"/>
</form>
