<h1 class="text-center"><u>Mad Skilz</u></h1>

<ol id="skills">
  <% @skills.each do |skill| %>
    <li><a href="/skills/<%= skill.id %>"><%= skill.title %></a></li>
    <a href="/skills/<%= skill.id %>/edit">Edit</a>

    <form action="/skills/<%= skill.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>

<% end %>
</ol>
<br>
<a href="/skills/new">New Skill</a><br>
<a href="/">Home</a>
